.clicked-payment-header{
    background-color: rgba(13, 37, 123, 0.03) !important;
    border-radius: 8px;
}

.intialpaymentheader{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #D2D2D2;
}

.payment-box{
    border: 1px solid #0D257B;
    border-radius: 8px;
}

.payment_type span{
    color: #000;
    font-weight: 600;
    font-family: "Montserrat";
}