.email_label .ant-row{
    display: block !important;
}

.input_email{
    width: 83%;
    height: 40px;
}

.ant-form-item .ant-form-item-label >label::after {
    display: none !important;
}

.ant-form-item .ant-form-item-label >label {
    flex-direction: row-reverse;
}


@media  (max-width: 767px) {
    .input_email{
        width: 100%;
    }
}



@media (min-width: 768px) { 
    
 }


@media (min-width: 992px) {  }


@media (min-width: 1200px) { }